<b>Tasks</b>
<ul style="padding-left: 24px;">
    <li><a href="#clir-and-mlir-tasks">Cross-Language Retrieval</a></li>
    <li><a href="#clir-and-mlir-tasks">Cross-Language Technical Documents</a></li>
    <li><a href="#clir-and-mlir-tasks">Multilingual Retrieval</a></li>
    <li><a href="#report-generation-pilot-task">Report Generation</a></li>
</ul>

<b>Quick Links</b>
<ul style="padding-left: 24px;">
    <li><a href="https://docs.google.com/document/d/1Vy9538kPvyE3mfIhd-stqULbcRCnS_oe5rP6ykqKA-0/edit?usp=sharing">CLIR &amp; MLIR Guidelines</a></li>
    <li><a href="https://docs.google.com/document/d/1Q4SSwM69kfK2GtYf0N__4eQcsEK0giMky2XG-dPoCYM/edit?usp=sharing">Report Generation Guidelines</a></li>
</ul>
