<b>2024 Tasks</b>
<ul style="padding-left: 24px; position: static !important;">
    <li><a href="#-task-cross-language-retrieval-clir">Cross-Language Retrieval</a></li>
    <li><a href="#-task-cross-language-technical-documents">Cross-Language Technical</a></li>
    <li><a href="#-task-multilingual-retrieval-mlir">Multilingual Retrieval</a></li>
    <li><a href="#-task-report-generation">🆕 Report Generation</a></li>
</ul>

<b>Quick Links</b>
<ul style="padding-left: 24px; position: static !important;">
    <li><a href="#important-dates">Important Dates</a></li>
    <li><a href="https://docs.google.com/document/d/1Vy9538kPvyE3mfIhd-stqULbcRCnS_oe5rP6ykqKA-0/edit?usp=sharing">CLIR &amp; MLIR Guidelines</a></li>
    <li><a href="https://docs.google.com/document/d/1Q4SSwM69kfK2GtYf0N__4eQcsEK0giMky2XG-dPoCYM/edit?usp=sharing">Report Generation Guidelines</a></li>
    <li><a href="https://ir-datasets.com/neuclir.html#neuclir/1">NeuCLIR1</a> & <a href="https://ir-datasets.com/csl.html">CSL</a> on ir_datasets</li>
</ul>
