---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// /* unvisited link */
// a {
//   color: #f36524;
//   text-decoration: underline;
// }

body {
  text-align: justify;
}

li {
  text-align: left;
}

a {
  color: #6D8EF7;
}

code {
  font-size: .8em;
}

.navigate_toc{
  font-size: 1em;
  color:#aaa;
}

.fa-search, .fa-flask .fa-arrow-up {
  font-size: .7em;
}

.right-margin {
  margin-right: .4em;
}


.repo{
  white-space: nowrap;

}

.ir-datasets{
  font-family: monospace;
  font-size: 1.1em;
  white-space: nowrap;
}

// ul {
//   margin-bottom: .1em;
// }

/* mouse over link */
a:hover {
  color: #CA3B7D;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

h1 {
    a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

p.view {
  visibility: hidden;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 110%;
}

div#mailing-list-banner {
  border-radius: .5em;
  color: #AB7003;
  border: 2px solid #AB7003;
  background: #FEF7EC;
  padding: 1em;
  width: 90%;
  // height: 150px
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#mailing-list-title, #mailing-list-items{
      margin-bottom: .4em;
      color: #AB7003;
}

div#past {
  color: #cccccc;

}

footer {
  visibility: hidden;
}