---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// /* unvisited link */
// a {
//   color: #f36524;
//   text-decoration: underline;
// }

body {
  text-align: justify;
}

li {
  text-align: left;
}

a {
  color: #6D8EF7;
}

/* mouse over link */
a:hover {
  color: #CA3B7D;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

code {
  font-size: .8em;
}

.navigate_toc{
  font-size: 1em;
  color:#aaa;
}

.inner-banner {
  overflow-y: auto;
  height: 315px;
  position: relative;
}

// .inner-banner:after{
//     content: "";
//     position: fixed;
//     z-index: 1;
//     bottom: 0;
//     left: 0;
//     pointer-events: none;
//     background-image: linear-gradient(to bottom,
//         rgba(255, 255, 255, 0),
//         rgba(255, 255, 255, 1) 90%);
//     width: 100%;
//     height: 4em;
// }

.fa-search, .fa-flask .fa-arrow-up {
  font-size: .7em;
}

.right-margin {
  margin-right: .4em;
}


.repo{
  white-space: nowrap;

}


.ir-datasets{
  font-family: monospace;
  font-size: 1.1em;
  white-space: nowrap;
}

h1 {
    a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

p.view {
  visibility: hidden;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 110%;
}

div.banner {
  border-radius: .5em;
  border: 2px solid;
  padding: .8em;
  // padding-top: .5em;
  padding-bottom: 0em;
  width: 90%;
  // height: 150px
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.banner-items{
    margin-bottom: .4em;
}

.banner-title {
  font-size: 1.3em;
  margin-bottom: .8em;
}


div .mailing-list-banner {
  @extend .banner;
  color: #AB7003;
  border-color: #AB7003;
  background: #FEF7EC;
}

div .mailing-list-title {
  @extend .banner-title;
  color: #8c5d05;
}

.mailing-list-announcement-old {
  @extend .banner-items;
  color: #ad9b7b;
  font-size: .9em;

  a {
    color: #ad9b7b;
    text-decoration: underline;
  }
}

.mailing-list-announcement-new {
  @extend .banner-items;
  color: #8c5d05;

  a {
    color: #8c5d05;
    text-decoration: underline;
  }

  a:hover {
    color: #c8730a;
  }
}


div .register-banner {
  @extend .banner;
  color: #576ebb;
  border-color: #576ebb;
  background: #f9faff;
  .register-banner-items {
    @extend .banner-items;
    margin-bottom: .8em;
    text-align: justify;
  }
  a {
    color: #576ebb;
    text-decoration: underline;
  }

  a:hover {
    color: #4a74ff;
  }
}

div#past {
  color: #cccccc;

}

footer {
  visibility: hidden;
}

.step-item.active ~ .step-item {
  color: rgb(114, 114, 114);
}

.step-item.active {
  font-weight: var(--tblr-body-font-weight);
}
